{% extends 'calaccess_website/version/detail.html' %}
{% load humanize calaccess_website_tags static %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block og-title %}{{ title }} - {{ block.super }}{% endblock %}
{% block og-description %}{{ description }}{% endblock %}
{% block twitter-title %}{{ title }} - Documentation - {{ block.super }}{% endblock %}
{% block twitter-description %}{{ description }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Latest download</li>
{% endblock %}

{% block top %}
    <h1>{{ title }}</h1>
    <p>
        Download the most recent release of the state database tracking money in politics.
    </p>
{% endblock %}

{% block first-content-block %}
    {% include 'calaccess_website/version/sections/basic.html' %}
{% endblock %}

{% block second-content-block %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <section id="basic" class="chapter">
                  <h2>Get data from Big Local News</h2>
                  <p>
                    The data gathered and processed by the California Civic Data Coalition’s open-source software is now hosted by the Big Local News project at Stanford University via <a href="https://biglocalnews.org">biglocalnews.org</a>.
                  </p>
                  <p>The files update daily. You can access them by registering for an account at <a href="https://biglocalnews.org">biglocalnews.org</a> and accessing the <a href="https://biglocalnews.org/#/project/UHJvamVjdDo2MDVjNzdiYS0wODI4LTRlOTEtOGM3OC03ZjA4NGI2ZDEwZWE="></a>“California campaign finance data” project</a>, or by clicking the link below.</p>
                  <p>
                    <a target="_blank" 
                       href="https://biglocalnews.org/#/project/UHJvamVjdDo2MDVjNzdiYS0wODI4LTRlOTEtOGM3OC03ZjA4NGI2ZDEwZWE="
                       class="btn btn-calaccess">Download</a>
                  </p>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
