{% load calaccess_website_tags %}
<section class='sub-chapter container basic-files'>
  <h3>Pick a file</h3>
  <div class="row">
    {% for file in flat_files %}
      {% if file.is_processed %}
        <div class='col-sm-6 col-md-5'>
          <h4 style="display: inline-block;">
                <i class="fa fa-stop"></i>
                <a href="{% url 'ccdc_file_detail' slug=file.name|slugify %}">
                    <span class="hed">{{ file.name|capfirst }}</span>
                </a>
          </h4>
          <p>{{ file.doc|first_line|safe }}</p>
        </div>
      {% elif file.coming_soon %}
        <div class='col-sm-6 col-md-5 unavailable'>
          <h4>
            <i class="fa fa-stop"></i>
            <span class="hed">{{ file.name|capfirst }}</span> <span class="hed--coming-soon">coming soon</span>
          </h4>
          <p>{{ file.doc|first_line|safe }}</p>
        </div>
      {% else %}
        <div class='col-sm-6 col-md-5 unavailable'>
          <h4 class='unavailable'>
            <i class="fa fa-stop"></i>{{ file.name|capfirst }}
          </h4>
          <p>{{ file.doc|first_line|safe }}</p>
        </div>
        {% endif %}
      {% endfor %}
  </div>
</section>
