[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.4"
django-calaccess-raw-data = "==1.7.0"
django-calaccess-scraped-data = "==0.2.0"
django-calaccess-processed-data = "==0.2.2"
opencivicdata = {git = "https://github.com/california-civic-data-coalition/python-opencivicdata.git", editable = true, ref = "HEAD"}
"backports.csv" = "*"
"psycopg2" = "*"
"boto3" = "*"
django-storages = "*"
django-bakery = "*"
six = "*"
Fabric3 = "*"
"flake8" = "*"
coveralls = "*"
configparser = "*"
django_compressor = "*"
greeking = "*"
PyGithub = "*"

[dev-packages]

[requires]
python_version = "3.6"
