[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3.2.*"
django-calaccess-processed-data = "==0.4.4"
"backports.csv" = "*"
"psycopg2-binary" = "*"
boto3 = "*"
django-storages = "*"
PyGithub = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"

[dev-packages]
flake8 = "*"
coverage = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
