[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=3.2.*"
django-calaccess-scraped-data = "==3.1.0"
django-calaccess-processed-data = "==0.3.6"
"backports.csv" = "*"
"psycopg2-binary" = "*"
"boto3" = "*"
django-storages = "*"
django-bakery = "*"
PyGithub = "*"
dj-database-url = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
PyICU = {version = "*", markers="sys_platform == 'foobar'"}

[dev-packages]
"flake8" = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
