Django==2.0.4
django-calaccess-raw-data==1.7.0
django-calaccess-scraped-data==0.2.0
django-calaccess-processed-data==0.2.3

# this requirement can be removed after next release of ocd package
-e git+https://github.com/california-civic-data-coalition/python-opencivicdata.git@HEAD#egg=opencivicdata

backports.csv
psycopg2>=2.7
boto3>=1.4.4
django-storages
django-bakery==0.12.5
six
Fabric3
flake8
coveralls
configparser
django-compressor
greeking
PyGithub
