Django==1.10
-e git+https://github.com/california-civic-data-coalition/django-calaccess-raw-data.git@HEAD#egg=django_calaccess_raw_data
psycopg2==2.6.1
boto3==1.4
django-storages
django-bakery==0.8.9
six
Fabric
flake8
coveralls
configparser
