Django==1.11.6
django-calaccess-raw-data==1.6.2
django-calaccess-scraped-data==0.1.1
django-calaccess-processed-data==0.1.8

# this requirement can be removed after next release of ocd package
-e git+https://github.com/california-civic-data-coalition/python-opencivicdata.git@HEAD#egg=opencivicdata

backports.csv
psycopg2>=2.7
boto3==1.4
django-storages
django-bakery==0.8.11
six
Fabric
flake8
coveralls
configparser
django-compressor
greeking
PyGithub
