{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CAL-ACCESS Archive{% endblock%}</title>
    <link rel="shortcut icon" type="image/x-icon" href="">
    <link rel="stylesheet" href="{% static "calaccess_website/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "calaccess_website/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "calaccess_website/css/main.css" %}">

    <script type="text/javascript" src="{% static "calaccess_website/js/jquery.min.js" %}"></script>
  </head>
  <body>
    {% include 'calaccess_website/header.html' %}

    {% block container %}
        <div class="container">

        {% block breadcrumbs-container %}
        <ol class="breadcrumb">
          <li><a href="{% url 'home' %}">Archive</a></li>
          {% block breadcrumbs %}{% endblock %}
        </ol>
        {% endblock %}

        {% block content %}
        {% endblock %}

    {% endblock %}

    <script src="{% static "calaccess_website/js/bootstrap.js" %}"></script>
    <script src="{% static "calaccess_website/js/underscore-min.js" %}"></script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>
