{% extends 'calaccess_website/base.html' %}

{% block body-extra %}data-spy="scroll" data-target="#affix-nav" data-offset="15"{% endblock %}

{% block container %}
<article>
    <div class="bg-red">
        <div class="container">
            <div class="row">
                <hgroup class="col-md-8">
                  {% block top %}{% endblock %}
                </hgroup>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% block content %}{% endblock %}
            </div>
            <nav class="col-md-3" id="affix-nav">
                {% block affix-nav %}{% endblock %}
            </nav>
        </div>
    </div>
</article>
{% endblock %}
