<!DOCTYPE html>{% load static %}
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="Wrn_UnGhY-K8HHXWOvf1M4QzJzMunfVw3xf53COsRqk" />
    <link rel="icon" type="image/png" href="https://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/favicon.png">

    <title>{% block title %}{{ CALACCESS_WEBSITE_TITLE }}{% endblock%}</title>
    <meta name="description" content="{% block description %}{{ CALACCESS_WEBSITE_DESCRIPTION }}{% endblock %}">

    {% block meta %}
    <meta property="og:site_name" content="{{ CALACCESS_WEBSITE_DOMAIN }}"/>
    <meta property="og:title" content="{% block og-title %}{{ CALACCESS_WEBSITE_TITLE }}{% endblock %}"/>
    <meta property="og:description" content="{% block og-description %}{{ CALACCESS_WEBSITE_DESCRIPTION }}{% endblock %}"/>
    <meta property="og:url" content="{{ FULL_URL }}" />
    <meta property="og:image" content="{{ CALACCESS_WEBSITE_SHARE_IMG }}"/>

    <meta property="twitter:site" content="@cacivicdata">
    <meta property="twitter:title" content="{% block twitter-title %}{{ CALACCESS_WEBSITE_TITLE }}{% endblock %}">
    <meta property="twitter:description" content="{% block twitter-description %}{{ CALACCESS_WEBSITE_DESCRIPTION }}{% endblock %}"/>
    <meta property="twitter:url" content="{{ FULL_URL }}" />
    <meta property="twitter:image:src" content="{{ CALACCESS_WEBSITE_SHARE_IMG }}">
    <meta property="twitter:card" content="summary_large_image">
    {% endblock %}

    {% block extra-meta %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/calaccess_website/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/calaccess_website/css/sourcesanspro.css">
    <link rel="stylesheet" type="text/css" href="/static/calaccess_website/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/calaccess_website/css/main.css">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,600" rel="stylesheet">
    <script type="text/javascript" src="{% static "calaccess_website/js/jquery.min.js" %}"></script>
  </head>
  <body {% block extra-body %}{% endblock %}>
    {% include 'calaccess_website/header.html' %}

    {% block container %}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}

    {% include 'calaccess_website/footer.html' %}

      <script src="{% static "calaccess_website/js/bootstrap.js" %}"></script>
      <script src="{% static "calaccess_website/js/underscore-min.js" %}"></script>
      {% block javascript %}
      {% endblock %}

      {% block analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-55129934-3', 'auto');
        ga('send', 'pageview');
      </script>
      {% endblock %}
  </body>
</html>
