{% extends 'calaccess_website/base_with_top.html' %}
{% load calaccess_website_tags %}

{% block title %}{{ title }} - Documentation - {{ block.super }}{% endblock%}
{% block description %}{{ description }}{% endblock %}

{% block og-title %}{{ title }} - Documentation - {{ block.super }}{% endblock %}
{% block og-description %}{{ description }}{% endblock %}
{% block twitter-title %}{{ title }} - Documentation - {{ block.super }}{% endblock %}
{% block twitter-description %}{{ description }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'docs_index' %}">Documentation</a></li>
    <li>{{ title }}</li>
{% endblock %}

{% block top %}
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>
{% endblock %}

{% block affix-nav %}
<ul class="nav nav-stacked">
  <li class="active">
    <a href="#campaign">Campaign</a>
  </li>
  <li><a href="#common">Common</a></li>
  <li><a href="#lobbying">Lobbying</a></li>
  <li><a href="#inactive">Inactive</a></li>
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('body').scrollspy({ target: '#affix-nav'});
  $('#affix-nav').affix({
    offset: {
      top: function () {
        return (this.top = $('.affix-container').position()['top'])
      },
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  });
</script>
{% endblock %}

{% block content %}
  {% for group in object_list %}
  <section id="{{ group.grouper|slugify }}">
    <h2>{{ group.grouper|capfirst }} files</h2>
    <table style="table-layout: fixed; width: 100%" class="table table-striped">
    <thead>
        <tr>
            <th style="width:40%">Name</th>
            <th style="width:60%">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for file in group.list  %}
        <tr>
            <td class="break" style="width:30%">
                <a href="{% url 'calaccess_file_detail' slug=file.db_table|slugify %}">
                    {{ file.db_table }}
                </a>
            </td>
            <td style="width:70%">
                {{ file.doc.strip|first_line|safe  }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </section>
  {% endfor %}
{% endblock %}
