{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ object.file_name }} - Processed files - Documentation - {{ block.super }}{% endblock%}

{% block meta %}
<meta property="og:site_name" content="{{ CALACCESS_WEBSITE_DOMAIN }}"/>
<meta property="og:title" content="{{ object.file_name }} - Processed files - Documentation - {{ CALACCESS_WEBSITE_TITLE }}"/>
<meta property="og:description" content="{{ object.doc.strip|first_line|striptags }}"/>
<meta property="og:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="og:image" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png"/>

<meta property="twitter:site" content="@cacivicdata">
<meta property="twitter:title" content="{{ object.file_name }} - Processed files - Documentation - {{ CALACCESS_WEBSITE_TITLE }}">
<meta property="twitter:description" content="{{ object.doc.strip|first_line|striptags }}"/>
<meta property="twitter:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="twitter:image:src" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png">
<meta property="twitter:card" content="summary_large_image">
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'docs_index' %}">Documentation</a></li>
<li><a href="{% url 'ccdc_file_list' %}">Processed files</a></li>
<li>{{ object.file_name }}</li>
{% endblock %}

{% block top %}
  <h1 class="break">{{ object.file_name }}</h1>
  <p>{{ object.model.doc.strip|first_line|safe }}</p>
{% endblock %}

{% block affix-nav %}
<ul class="nav nav-stacked">
    <li class="active"><a href="#latest-download">Latest download</a></li>

    {% if not empty %}
    <li><a href="#sample">Sample</a></li>
    {% endif %}

    <li><a href="#fields">Fields</a></li>

    {% if version_list %}

        {% with version_list.0 as latest_file %}
        {% if latest_file.error_count %}
        <li><a href="#errata">Errata</a></li>
        {% endif %}
        {% endwith %}

        <li><a href="#archive">Archive</a></li>

    {% endif %}

</ul>
{% endblock %}

{% block javascript %}
  {% include 'calaccess_website/affix_nav_logic.html' %}
{% endblock %}

{% block content %}
<section id="latest-download" class="chapter">
  <h2>Latest download</h2>
    {% if version_list.0 %}
    {% with version_list.0 as latest_file %}
    <p>
        Our most recent release of CAL-ACCESS data, transformed to <a href="https://opencivicdata.readthedocs.io/en/latest/">Open Civic Data</a> format.
        It contains {{ latest_file.records_count|intword|intcomma }} rows of data published on {{ latest_file.process_finish_datetime|date:"l, N j, Y" }}.
    </p>
    {% if latest_file.file_archive %}
        <p>
            <a href="{% archive_url latest_file.file_archive.name is_latest=True %}"
               class="btn btn-calaccess">
                Download latest
            </a>
            &nbsp; <span>{{ latest_file.pretty_file_size }} CSV</span>
        </p>
        <p>
            Alternatively, retrieve with <code>curl</code>.
        </p>
        <input type="text" class="download-link input-monospace"
            value="$ curl -O {% archive_url latest_file.file_archive.name is_latest=True %}"
            readonly>
    {% else %}
    <p><a class="btn btn-inactive">Download unavailable</a>
        {% endif %}
    {% endwith %}
    {% else %}
    <p><a class="btn btn-inactive">Download unavailable</a>
    {% endif %}
    <p>Or, <a href="{% url 'ccdc_file_downloads_list' object.file_name|slugify %}">explore past downloads of this file</a>.</p>
</section>

{% if not empty %}
<section id="sample" class="chapter">
  <h2>Sample</h2>
  <p>A few sample rows.</p>
  <script src="https://gist.github.com/palewire/66bed097ddca855c36506da4b7c0d349.js?file={{ object.file_name }}.csv"></script>
</section>
{% endif %}

<section id="fields" class="chapter">
  <h2>Fields</h2>
  <p>Information about the {{ fields|length }} fields and the definitions of any abbreviated values.</p>
  <hr>

  {% for field in fields %}
  <div class="list-row">
      <span class="list-title">{{ field.column }}</span> &nbsp;
      <span>{{ field.description }}</span>
      <p>{{ field.help_text|capfirst }}</p>
  </div>
  {% if field.choices|length > 0 %}
    <button class="btn btn-sm btn-calaccess" type="button" data-toggle="collapse" data-target="#collapse-{{ field.column }}">
      See lookup codes
    </button>
    <div class="collapse" id="collapse-{{ field.column }}">
      <table class="table table-striped">
      <thead>
          <tr>
              <th style="width:20%;" class="head">Code</th>
              <th class="head">Definition</th>
          </tr>
      </thead>
      <tbody>
      {% for choice in field.choices %}
          <tr>
              <td><code>{{ choice.0 }}</code></td>
              <td>{{ choice.1 }}</td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  {% endif %}
  <hr>
  {% endfor %}
</section>

{% if version_list %}
    <section id="archive" class="chapter">
        <h2>Archive</h2>
        <p>Download previous versions of this file from our archive.</p>

        <h4>Last 10 downloads</h4>
        <table class="table table-striped">
        <thead>
          <tr>
            <th>Date</th>
            <th style="width:8%;" class="right">Records</th>
            <th style="width:8%;" class="right hidden-xs">Size</th>
            <th style="width:15%;" class="right"></th>
          </tr>
        </thead>
        <tbody>
          {% for file in version_list|slice:":10" %}
          <tr>
            <td><a href="{% url 'version_detail' year=file.version.raw_version.release_datetime.year month=file.version.raw_version.release_datetime|date:'m' day=file.version.raw_version.release_datetime|date:'d' time=file.version.raw_version.release_datetime|date:'His' %}">{{ file.version.raw_version.release_datetime|date:"N j, Y" }}</a></td>
            {% if file.file_archive %}
            <td class="right">{{ file.records_count|intcomma }}</td>
            <td class="right hidden-xs">{{ file.pretty_file_size }}</td>
            <td class="nobreak right"><a href="{% archive_url file.file_archive.name %}">Download &raquo;</a></td>
            {% else %}
            <td colspan=2></td>
            <td class="right">Unavailable</td>
            {% endif %}
          {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan=4>
                    <a href="{% url 'ccdc_file_downloads_list' object.file_name|slugify %}">More past downloads &raquo;</a>
                </td>
            </tr>
        </tfoot>
        </table>
    </section>
{% endif %}

{% endblock %}
