{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}Documentation - {{ block.super }}{% endblock%}

{% block meta %}
<meta property="og:site_name" content="{{ CALACCESS_WEBSITE_DOMAIN }}"/>
<meta property="og:title" content="Documentation - {{ CALACCESS_WEBSITE_TITLE }}"/>
<meta property="og:description" content="How to work with data from CAL-ACCESS, the California Secretary of State's database tracking campaign finance and lobbying activity in state politics."/>
<meta property="og:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="og:image" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/red-bear-share.png"/>

<meta property="twitter:site" content="@cacivicdata">
<meta property="twitter:title" content="Documentation - {{ CALACCESS_WEBSITE_TITLE }}">
<meta property="twitter:description" content="How to work with data from CAL-ACCESS, the California Secretary of State's database tracking campaign finance and lobbying activity in state politics."/>
<meta property="twitter:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="twitter:image:src" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/red-bear-share.png">
<meta property="twitter:card" content="summary_large_image">
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>Documentation</li>
{% endblock %}

{% block top %}
    <h1>Documentation</h1>
    <p>
        How to work with data from CAL-ACCESS, the California Secretary of State's
        database tracking campaign finance and lobbying activity in state politics.
    </p>
{% endblock %}

{% block content %}
<section class="chapter">
    <h2>Sections</h2>
    {% for obj in object_list %}
    <section class="row file-card {{ obj.name|slugify }}">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <a href="{{ obj.url }}">
                        {{ obj.name }}
                    </a>
                </h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <p>
                    {{ obj.description }}
                    <a href="{{ obj.url }}">Explore &raquo;</a>
                </p>
            </div>
        </div>
    </section>
    {% endfor %}
</section>
{% endblock %}
