{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}Documentation - {{ block.super }}{% endblock%}

{% block top %}
    <h2>Documentation</h2>
    <p>
        Line of text goes here.
    </p>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li>Documentation</li>
{% endblock %}

{% block content %}
<section class="chapter">
    <h2>Sections</h2>
    {% for obj in object_list %}
    <section class="row file-card {{ obj.name|slugify }}">
        <hgroup class="row">
            <div class="col-md-6">
                <h4>
                    <a href="{{ obj.url }}">
                        {{ obj.name }}
                    </a>
                </h4>
            </div>
        </hgroup>
        <hr>
        <div class="row">
            <div class="col-md-10">
                <p>
                    {{ obj.description }}
                    <a href="{{ obj.url }}">Explore &raquo;</a>
                </p>
            </div>
        </div>
    </section>
    {% endfor %}
</section>
{% endblock %}
