{% load calaccess_website_tags %}
<section id="basic" class="chapter">
  <h2>Basic</h2>
  <p>
    The best place to start. Simple flat files refined from the state's CAL-ACCESS database. Ready for instant investigation with Excel, Python or another analysis tool. <a href="{% url 'ccdc_file_list' %}#flat">Learn more &raquo;</a>
  </p>
  {% if flat_zip %}
    <p>
      <a href="{% archive_url flat_zip.zip_archive.name is_latest=is_latest %}" class="btn btn-calaccess">Download</a>
      &nbsp; <span>{{ flat_zip.pretty_zip_size }} zip</span>
    </p>
    {% include 'calaccess_website/available_data.html' %}
  {% else %}
    <p><a class="btn btn-inactive">Unavailable</a></p>
  {% endif %}
</section>
