{% load calaccess_website_tags humanize %}
<section id="raw" class="chapter">
  <h2>Raw files</h2>
  <p>
    For those with a masochistic edge. Get the complete package of {{ object.clean_file_count }} tables released by California's Secretary of State, cleaned and converted into {{ object.clean_record_count|intword }} rows of comma-separated values.
  </p>
  {% if object.clean_zip_archive %}
    <p>
      <a href="{% archive_url object.clean_zip_archive.name is_latest=is_latest %}"
           class="btn btn-calaccess">
            Download
      </a>
      &nbsp; <span>{{ object.pretty_clean_size }} zip</span>
    </p>
    <p>
      Alternatively, retrieve with <code>curl</code>.
    </p>
    <input type="text" class="download-link input-monospace"
        value="$ curl -O {% archive_url object.clean_zip_archive.name is_latest=is_latest %}"
        readonly>
  {% else %}
    <p><a class="btn btn-inactive">Unavailable</a></p>
  {% endif %}
  {% if object.error_count %}
    <p>
       The raw data provided by the state contains errors in how some values are escaped, quoted and delimited. The result is a small number of records lost when we prepare files for download.
    </p>
    <p>
        However, those {{ object.error_count|intcomma }} lost records represent only {{ error_pct|floatformat:"5" }}% of the source data.
    </p>
    {% include 'calaccess_website/error_list.html' %}
  {% endif %}
</section>
