{% load calaccess_website_tags %}
<button id="errors_button" type="button" class="btn btn-calaccess" data-toggle="collapse" data-target="#errors">Show errors</button>
<div id="errors" class="collapse row">
  <div class="col-md-12">
    <table style="table-layout: fixed; width: 100%" class="table table-striped">
    <thead>
      <tr>
        <th class='col-xs-6'>Name</th>
        <th class="col-xs-3 right">Errors</th>
        <th class="col-xs-3 right">CSV</th>
      </tr>
    </thead>
    <tbody>
    {% for file in raw_files_w_errors %}
    <tr id="footnote-{{ file.file_name|slugify }}">
      <td class="break"><a href="{% url 'calaccess_file_detail' slug=file.file_name|slugify %}">{{ file.file_name }}</a></td>
      <td class="right">{{ file.error_count }}</td>
      <td class="right"><a href="{% archive_url file.error_log_archive.name is_latest=is_latest %}">Download &raquo;</a></td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $('#errors_button').click(function(){ //you can give id or class name here for $('button')
      $(this).text(function(i,old){
          return old=='Show errors' ?  'Hide errors' : 'Show errors';
      });
  });
</script>