{% extends 'calaccess_website/base_with_top.html' %}
{% load calaccess_website_tags %}

{% block title %}CAL-ACCESS files - Documentation - {{ block.super }}{% endblock%}

{% block meta %}
<meta property="og:site_name" content="{{ CALACCESS_WEBSITE_DOMAIN }}"/>
<meta property="og:title" content="CAL-ACCESS files - Documentation - {{ CALACCESS_WEBSITE_TITLE }}"/>
<meta property="og:description" content="Definitions, record layouts and data dictionaries for the {{ model_list|length }} files released from CAL-ACCESS, the California Secretary of State's database tracking campaign finance and lobbying activity in state politics."/>
<meta property="og:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="og:image" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png"/>

<meta property="twitter:site" content="@cacivicdata">
<meta property="twitter:title" content="CAL-ACCESS files - Documentation - {{ CALACCESS_WEBSITE_TITLE }}">
<meta property="twitter:description" content="Definitions, record layouts and data dictionaries for the {{ model_list|length }} files released from CAL-ACCESS, the California Secretary of State's database tracking campaign finance and lobbying activity in state politics."/>
<meta property="twitter:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="twitter:image:src" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png">
<meta property="twitter:card" content="summary_large_image">
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'docs_index' %}">Documentation</a></li>
<li>CAL-ACCESS files</li>
{% endblock %}

{% block top %}
<h1>CAL-ACCESS files</h1>
<p>
    Definitions, record layouts and data dictionaries for the {{ model_list|length }}
    files released from CAL-ACCESS, the California Secretary of State's database
    tracking campaign finance and lobbying activity in state politics.
</p>
{% endblock %}

{% block affix-nav %}
<ul class="nav nav-stacked">
  <li class="active">
    <a href="#campaign">Campaign</a>
  </li>
  <li><a href="#common">Common</a></li>
  <li><a href="#lobbying">Lobbying</a></li>
  <li><a href="#inactive">Inactive</a></li>
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('body').scrollspy({ target: '#affix-nav'});
  $('#affix-nav').affix({
    offset: {
      top: function () {
        return (this.top = $('.affix-container').position()['top'])
      },
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  });
</script>
{% endblock %}

{% block content %}
  {% for group in object_list %}
  <section id="{{ group.grouper|slugify }}">
    <h2>{{ group.grouper|capfirst }} files</h2>
    <table style="table-layout: fixed; width: 100%" class="table table-striped">
    <thead>
        <tr>
            <th style="width:30%">Name</th>
            <th style="width:70%">Description</th>
        </tr>
    </thead>
    <tbody>
    {% for file in group.list  %}
        <tr>
            <td class="break" style="width:30%">
                <a href="{% url 'file_detail' slug=file.db_table|slugify %}">
                    {{ file.db_table }}
                </a>
            </td>
            <td style="width:70%">
                {{ file.doc.strip|first_line|safe  }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </section>
  {% endfor %}
{% endblock %}
