{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ object.db_table }} - Files - {{ block.super }}{% endblock%}

{% block affix-nav %}
<ul class="nav nav-stacked">
  <li class="active"><a href="#latest">Latest release</a></li>
  <li><a href="#sample">Sample</a></li>
  <li><a href="#fields">Fields</a></li>
  {% if object.FILING_FORMS|length > 0 %}<li><a href="#forms">Forms</a></li>{% endif %}
  <li><a href="#references">References</a></li>
  <li><a href="#archive">Archive</a></li>
</ul>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $('body').scrollspy({ target: '#affix-nav'});
  $('#affix-nav').affix({
    offset: {
      bottom: function () {
        return (this.bottom = $('.footer').outerHeight(true))
      }
    }
  });
</script>
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'file_list' %}">Files</a></li>
<li>{{ object.db_table }}</li>
{% endblock %}

{% block top %}
  <h2>{{ object.db_table }}</h2>
  <p>{{ object.doc.strip|first_line|safe }}</p>
{% endblock %}

{% block content %}
<section id="latest">
  <h2>Latest release</h2>
    {% if version_list.0 %}
    {% with version_list.0 as latest_file %}
    <p>The latest version of this file was released on <b>{{ latest_file.version.release_datetime|date:"l, N j, Y" }}</b> at <b>{{ latest_file.version.release_datetime|date:"P" }}</b></p>
    {% if latest_file.clean_file_archive %}
        <p>
            <a href="{% archive_url latest_file.clean_file_archive.name is_latest=True %}"
               class="btn btn-calaccess">
                Download latest
            </a>
            &nbsp; <span>{{ latest_file.pretty_clean_file_size }} CSV</span>
        </p>
        <p>
            Alternatively, retrieve with <code>curl</code>.
        </p>
        <input type="text" class="download-link input-monospace"
            value="$ curl -O {% archive_url latest_file.clean_file_archive.name is_latest=True %}"
            readonly>
        </input>
    {% else %}
    <p><a class="btn btn-inactive">Download unavailable</a>
        {% endif %}
    {% endwith %}
    {% else %}
    <p><a class="btn btn-inactive">Download unavailable</a>
    {% endif %}
    <p>Or, <a href="{% url 'file_downloads_list' object.db_table|slugify %}">see all downloads for this file</a>.</p>
</section>

<section id="sample">
  <h2>Sample</h2>
  <p>A few rows from an example of this file.</p>
  <script src="https://gist.github.com/palewire/66bed097ddca855c36506da4b7c0d349.js?file={{ object.db_table }}.TSV"></script>
</section>

<section id="fields">
  <h2>Fields</h2>
  <p>Information about the {{ choice_fields|length }} fields in this file and their lookup codes, where applicable.</p>
  {% for field in choice_fields %}

  {% if field.name != "id" %}
  <div class="field-row">
      <span class="field-title">{{ field.db_column }}</span>
      <span>{{ field.description }} {% if field.is_unique_key %}&middot; <mark>Unique</mark>{% endif %}</span>
      <p>{{ field.definition|capfirst }}</p>
  </div>
  {% if field.choices|length > 0 %}
    <button class="btn btn-sm btn-calaccess" type="button" data-toggle="collapse" data-target="#collapse-{{ field.db_column }}">
      See lookup codes
    </button>
    <div class="collapse" id="collapse-{{ field.db_column }}">
      <table class="table table-striped">
      <thead valign="bottom">
          <tr>
              <th width="20%" class="head">Code</th>
              <th class="head">Definition</th>
          </tr>
      </thead>
      <tbody valign="top">
      {% for choice in field.choices %}
          <tr>
              <td><code>{{ choice.0 }}</code></td>
              <td>{{ choice.1 }}</td>
          </tr>
      {% endfor %}
      </tbody>
      {% if field.documentcloud_pages|length > 0%}
      <tfoot class="footnote">
      <tr>
      <td colspan=2>
         <small>
          Sources:
              {% for doc, objects in field.docs.items %} {{ doc }} ({% for object in objects %}<a class="reference external image-reference" href="{{ object.canonical_url }}">{{ object.formatted_page_nums }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% if not forloop.last %}, {% endif %}{% endfor %}
          </small>
      </td>
      </tr>
      </tfoot>
      {% endif %}
      </table>
    </div>
  {% endif %}
  <hr>
  {% endif %}
  {% endfor %}
</section>

<section id="forms">
  {% if object.FILING_FORMS|length > 0 %}
  <h2>Forms</h2>
  <p>The forms that populate the information in this file.</p>
  <table class="table">
  <tbody valign="top">
      {% for form, sections in object.get_filing_forms_w_sections %}
      <tr>
          <td>
              <h4><a href="{% url 'form_detail' id=form.id|lower %}">{{ form.type_and_num|safe }}</a>:
              {{ form.title|safe }}</h4>
              <ul>
              {% for section in sections %}
                <li>{{ section.title|safe }}</li>
              {% endfor %}
              </ul>
          </td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
  {% endif %}
</section>

<section id="references">
  {% if object.DOCUMENTCLOUD_PAGES|length > 0 %}
  <h2>References</h2>
  <p>The documents that provided the information on this page.</p>
  <ul>
  {% for doc, objects in docs.items %}
  <li> {{ doc }} ({% for object in objects %}<a href="{{ object.canonical_url }}">{{ object.formatted_page_nums }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})</li>
  {% endfor %}
  </ul>
  {% endif %}
</section>

<section id="archive">
    {% if version_list %}
    <h2>Archive</h2>
    <p>Examine previous versions of this file. <a href="{% url 'file_downloads_list' object.db_table|slugify %}">See all downloads &raquo;</a></p>
    <br>

    <h4>Last 10 downloads</h4>

    {% for file in version_list|slice:":10" %}
    <div class="row">
      <div class="col-md-4">
        <h4><a href="{% url 'version_detail' year=file.version.release_datetime.year month=file.version.release_datetime|date:'m' day=file.version.release_datetime|date:'d' time=file.version.release_datetime|date:'His' %}">{{ file.version.release_datetime|date:"l, N j, Y" }}</a></h4>
      </div>
      <div style="text-align: right;" class="col-md-5 right stats">
          {% if file.clean_file_archive %}
          <div class="col-md-8">
              <span>
                <h4>Records</h4>
                <p>{{ file.clean_records_count|intcomma }}</p>
              </span>
              <span>
                <h4>Size</h4>
                <p> {{ file.pretty_clean_file_size }}</p>
              </span>
              <span>
                <h4>Errors</h4>
                <p>{{ file.error_count|intcomma }} </p>
              </span>
          </div>
          <div class="col-md-4">
            <a href="{% archive_url file.clean_file_archive.name %}" class="btn btn-calaccess">Download</a>
          </div>
          {% else %}
            <a class="btn btn-inactive">Download unavailable</a>
          {% endif %}
      </div>
    </div>
    {% endfor %}

    {% else %}
        <p>No files.</p>
    {% endif %}
</section>
{% endblock %}