{% extends 'calaccess_website/base.html' %}

{% load humanize calaccess_website_tags %}

{% block breadcrumbs %}
  <li><a href="{% url 'file_list' %}">Files</a></li>
  <li class="active">{{ object.db_table }}</li>
{% endblock %}

{% block content %}
  <h1>{{ object.db_table }}</h1>

  <p>{{ object.doc.strip|safe }}</p>

  {% if version_list %}
  <table class="table table-striped">
  <thead>
      <tr>
          <th>Version</th>
          <th class="right">Raw TSV</th>
          <th class="right">Clean CSV</th>
          <th class="right">Errors</th>
      </tr>
  </thead>
  <tbody>
  {% for file in version_list %}
      <tr>
          <td>
              <a href="{% url 'version_detail' year=file.version.release_datetime.year month=file.version.release_datetime.month release_epochtime=file.version.release_datetime|date:'U' %}">
                  {{ file.version.release_datetime|date:"l N j, Y" }}
              </a>
          </td>
          <td class="right">{{ file.file.pretty_download_file_size  }}  {% if file.download_file_archive %}<a href="{% archive_url file.download_file_archive.name %}"><i class="fa fa-download"></i></a>{% endif %}</td>
          <td class="right">{% if file.clean_file_archive %}{{ file.file.pretty_clean_file_size  }}  <a href="{% archive_url file.clean_file_archive.name %}"><i class="fa fa-download"></i></a>{% else %} -- {% endif %}</td>
          <td class="right">{% if file.error_log_archive %}{{ file.error_count|intcomma }}  <a href="{% archive_url file.error_log_archive.name %}"><i class="fa fa-download"></i></a>{% else%} -- {% endif %}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
      <p>No files.</p>
  {% endif %}
{% endblock %}
