{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ object.db_table }} - Files - {{ block.super }}{% endblock%}

{% block top %}
  <h2>File details</h2>
  <p><b>{{ object.db_table }}</b>: {{ object.doc.strip|safe }}</p>
  <p><a href="{% url 'file_list' %}">See all files</a>.</p>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h2>Download</h2>
        {% if version_list.0 %}
        {% with version_list.0 as latest_file %}  
        <p><a href="{% archive_url latest_file.clean_file_archive.name is_latest=True %}" class="btn btn-calaccess">Download</a>
        &nbsp; <span>{{ latest_file.pretty_clean_file_size }} csv</span></p>
        <p>Alternatively, download directly with <code>wget</code> or <code>curl</code>.</p>
        <input type="text" class="download-link input-monospace" value="$ curl {% archive_url latest_file.clean_file_archive.name is_latest=True %}" readonly></input>
        {% endwith %}
        {% else %}
        <p><a class="btn btn-inactive">Download unavailable</a>
        {% endif %}
        
        <p>Or, <a href="{% url 'file_downloads_list' object.db_table|slugify %}">see all downloads for this file</a>.</p>
      <hr>

      <h2>Documentation</h2>

      <section>
        <h3>Sample</h3>
        <script src="https://gist.github.com/palewire/66bed097ddca855c36506da4b7c0d349.js?file={{ object.db_table }}.TSV"></script>
      </section>

      <section>
        <h3>Fields</h3>
        <table class="table table-striped">
        <thead valign="bottom">
            <tr>
                <th class="head">Name</th>
                <th class="head">Type</th>
                <th class="head">Unique key</th>
                <th width="50%" class="head">Definition</th>
            </tr>
        </thead>
        <tbody valign="top">
        {% for field in object.get_field_list %}
        {% if field.name != "id" %}
            <tr>
                <td><code>{{ field.db_column }}</code></td>
                <td>{{ field.description }}</td>
                <td>{% if field.is_unique_key %}Yes{% else %}No{% endif %}</td>
                <td>{{ field.definition|capfirst }}</td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
        </table>
      </section>

      <section>
        {% if object.get_unique_key_list|length > 0 %}
        <h3>Unique key</h3>
        <table class="table">
        <tbody valign="top">
            <tr>
            {% for field in object.get_unique_key_list %}
                <td><code>{{ field }}</code></td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
        {% endif %}
      </section>
      
      <section>
        {% if choice_fields|length > 0 %}
        <h3>Lookup codes</h3>
        {% for field in choice_fields %}

        <h4><code>{{ field.name }}</code></h4>

        <table class="table table-striped">
        <thead valign="bottom">
            <tr>
                <th width="20%" class="head">Code</th>
                <th class="head">Definition</th>
            </tr>
        </thead>
        <tbody valign="top">
        {% for choice in field.choices %}
            <tr>
                <td><code>{{ choice.0 }}</code></td>
                <td>{{ choice.1 }}</td>
            </tr>
        {% endfor %}
        </tbody>
        {% if field.documentcloud_pages|length > 0%}
        <tfoot class="footnote">
        <tr>
        <td colspan=2>
           <small>
            Sources:
                {% for doc, objects in field.docs.items %} {{ doc }} ({% for object in objects %}<a class="reference external image-reference" href="{{ object.canonical_url }}">{{ object.formatted_page_nums }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}){% if not forloop.last %}, {% endif %}{% endfor %}
            </small>
        </td>
        </tr>
        </tfoot>
        {% endif %}
        </table>
        {% endfor %}
        {% endif %}
      </section>

      <section>
        {% if object.FILING_FORMS|length > 0 %}
        <h3>Forms</h3>
        <table class="table">
        <tbody valign="top">
            {% for form, sections in object.get_filing_forms_w_sections %}
            <tr>
                <td>
                    <h4><a href="{% url 'form_detail' id=form.id %}">{{ form.type_and_num|safe }}</a>:
                    {{ form.title|safe }}</h4>
                    <ul>
                    {% for section in sections %}
                      <li>{{ section.title|safe }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% endif %}
      </section>

  
      <section>
        {% if object.DOCUMENTCLOUD_PAGES|length > 0 %}
        <h3>References</h3>
        <ul>
        {% for doc, objects in docs.items %}
        <li> {{ doc }} ({% for object in objects %}<a href="{{ object.canonical_url }}">{{ object.formatted_page_nums }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})</li>
        {% endfor %}
        </ul>
        {% endif %}
      </section>

      <hr>

      {% if version_list %}
      <h2>Last 10 downloads</h2>
      <table class="table">
        <thead>
        <tr>
          <th></th>
          <th style="width: 10%" class="right">Records</th>
          <th style="width: 10%" class="right">Filesize</th>
          <th style="width: 10%" class="right">Errors</th>
          <th style="width: 15%" class="right"></th>
        </tr>
        </thead>
        <tbody valign="bottom">
        {% for file in version_list|slice:":10" %}
        <tr>
            <td style="font-size: 18px;">
                <a href="{% url 'version_detail' year=file.version.release_datetime.year month=file.version.release_datetime|date:'m' day=file.version.release_datetime|date:'d' time=file.version.release_datetime|date:'His' %}">{{ file.version.release_datetime|date:"l, N j, Y" }}</a>
            </td>
            {% if file.clean_file_archive %}
            <td class="right">{{ file.clean_records_count|intcomma }}</td>
            <td class="right">{{ file.pretty_clean_file_size }}</td>
            <td class="right">{{ file.error_count|intcomma }}</td>
            <td class="right">
                <a href="{% archive_url file.clean_file_archive.name %}" class="btn btn-sm btn-calaccess">Download</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% else %}
          <p>No files.</p>
      {% endif %}

</div>
</div>
</div>
{% endblock %}
