{% extends 'calaccess_website/base.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="{% url 'home' %}">Archive</a></li>
  <li class="active">Files</li>
</ol>
{% endblock %}

{% block content %}
    <h1>Files</h1>
    {% regroup object_list by klass_group as model_groups %}
    {% for group in model_groups|dictsort:"grouper" %}
    <section class="table-type">
      <h3>{{ group.grouper|capfirst }}</h3>
      <table class="table table-striped">
      {% for file in group.list  %}
          <tr>
            <th><a href="{{ file.db_table|slugify }}">{{ file.db_table }}</th>
            <td width="70%">{{ file.doc.strip|safe  }}</td>
          </tr>
      {% endfor %}
      </table>
    </section>
    {% endfor %}
{% endblock %}
