{% extends 'calaccess_website/base_with_top.html' %}

{% block title %}CAL-ACCESS forms - Documentation - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'docs_index' %}">Documentation</a></li>
<li>CAL-ACCESS forms</li>
{% endblock %}

{% block top %}
<h1>CAL-ACCESS forms</h1>
<p>
    Descriptions, samples and other documentation for
    the {{ form_list|length }} forms that campaigns and lobbyists use to disclose activity to CAL-ACCESS, the California
    Secretary of State's database tracking money in politics.
</p>
{% endblock %}

{% block affix-nav %}
<ul class="nav nav-stacked">
  <li class="active">
    <a href="#campaign">Campaign</a>
  </li>
  <li><a href="#financial-disclosure">Financial disclosure</a></li>
  <li><a href="#lobbyist">Lobbyist</a></li>
  <li><a href="#deprecated">Deprecated</a></li>
</ul>
{% endblock %}

{% block javascript %}
  {% include 'calaccess_website/affix_nav_logic.html' %}
{% endblock %}

{% block content %}
  {% for group in object_list %}
  <section id="{{ group.grouper|slugify }}">
    <h2>{{ group.grouper|lower|capfirst }} forms</h2>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Number</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
    {% for form in group.list  %}
        <tr>
          <td><a href="{% url 'form_detail' id=form.id|lower %}">{{ form.type_and_num|safe }}</td>
          <td width="80%">{{ form.title }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
  </section>
  {% endfor %}
{% endblock %}
