{% extends 'calaccess_website/base_with_top.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ form.type_and_num|safe }}: {{ form.title|safe }} - CAL-ACCESS forms - Documentation {{ block.super }}{% endblock%}

{% block meta %}
<meta property="og:site_name" content="{{ CALACCESS_WEBSITE_DOMAIN }}"/>
<meta property="og:title" content="{{ form.type_and_num|safe }}: {{ form.title|safe }} - CAL-ACCESS forms - Documentation - {{ CALACCESS_WEBSITE_TITLE }}"/>
<meta property="og:description" content="{{ form.title|safe }}"/>
<meta property="og:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="og:image" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png"/>

<meta property="twitter:site" content="@cacivicdata">
<meta property="twitter:title" content="{{ form.type_and_num|safe }}: {{ form.title|safe }} - CAL-ACCESS forms - Documentation - {{ CALACCESS_WEBSITE_TITLE }}">
<meta property="twitter:description" content="{{ form.title|safe }}"/>
<meta property="twitter:url" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}{{ request.path }}" />
<meta property="twitter:image:src" content="http://{{ CALACCESS_WEBSITE_DOMAIN }}/static/calaccess_website/images/brown-bear-share.png">
<meta property="twitter:card" content="summary_large_image">
{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'docs_index' %}">Documentation</a></li>
<li><a href="{% url 'form_list' %}">CAL-ACCESS forms</a></li>
<li>{{ form.type_and_num }}</li>
{% endblock %}

{% block top %}
    <h1>{{ form.type_and_num }}</h1>
    {% if form.title %}<p>{{ form.title|safe }}</p>{% endif %}
{% endblock %}

{% block affix-nav %}
<ul class="nav nav-stacked">

    {% if form.description %}
        <li class="active"><a href="#description">Description</a></li>
    {% endif %}

    {% if form.sections|length > 0 %}
        <li><a href="#sections">Sections</a></li>
    {% endif %}

    {% if form.get_models|length > 0 %}
        <li><a href="#calaccess-files">CAL-ACCESS files</a></li>
    {% endif %}

    {% if form.documentcloud_id %}
        <li><a href="#sample">Sample</a></li>
    {% endif %}

</ul>
{% endblock %}

{% block javascript %}
  {% include 'calaccess_website/affix_nav_logic.html' %}
{% endblock %}

{% block content %}

{% if form.description %}
<section id="description" class="chapter">
    <h2>Description</h2>
    <p>
        {{ form.description|safe }}
    </p>
</section>
{% endif %}


{% if form.sections|length > 0 %}
<section id="sections" class="chapter">
    <h2>Sections</h2>
    <p>
        {{ form.type_and_num }} has {{ form.sections|length }} section{{ form.sections|pluralize }}.
    </p>

  <table class="table table-striped">
  <thead>
      <tr>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
  {% for section in form.sections %}
      <tr>
          <td>
            {{ section.title }}
            {% if section.documentcloud.start_page %}
                (<a href="{{ section.documentcloud.canonical_url }}">p. {{ section.documentcloud.start_page }}{% if section.documentcloud.end_page %}-{{ section.documentcloud.end_page }}{% endif %}</a>)
            {% endif %}
          </td>
      </tr>
  {% endfor %}
  </tbody>
  </table>

</section>
{% endif %}


{% if form.get_models|length > 0 %}
 <section id="calaccess-files" class="chapter">
    <h2>CAL-ACCESS files</h2>
    <p>
        This form populates the following {{ form.get_models|length|apnumber }}
        CAL-ACCESS file{{ form.get_models|pluralize }}.
    </p>
    <table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {% for model in form.get_models %}
        <tr>
            <td class="break">
                <a href="{% url 'file_detail' slug=model.db_table|slugify %}">
                    {{ model.db_table }}
                </a>
            </td>
            <td>{{ model.doc.strip|first_line|safe }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
</section>
{% endif %}

{% if form.documentcloud_id %}
<section id="sample" class="chapter">
    <h2>Sample</h2>
    <p>An example of {{ form.type_and_num }}.</p>
    {% documentcloud_embed form.documentcloud.id %}
  </section>
{% endif %}

{% endblock %}
