{% extends 'calaccess_website/base.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ form.type_and_num|safe }} - Forms - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
  <li><a href="{% url 'form_list' %}">Forms</a></li>
  <li class="active">{{ form.type_and_num|safe  }}</li>
{% endblock %}

{% block content %}
  <h1>{{ form.type_and_num|safe }}</h1>
  {{ form.title|safe }}

  {{ form.description|safe }}
  {% if form.sections|length > 0 %}
  <h3>Sections</h3>
  <ul>
  {% for section in form.sections %}
  <li>{{ section.title|safe }} {% if section.documentcloud.start_page %}(<a href="{{ section.documentcloud.canonical_url }}">p. {{ section.documentcloud.start_page }}{% if section.documentcloud.end_page %}-{{ section.documentcloud.end_page }}{% endif%}</a>){% endif %}
  </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if form.get_models|length > 0 %}
  <h3>Database tables</h3>

      <table class="table table-striped">
      <thead valign="bottom">
          <tr>
              <th class="head">Name</th>
          </tr>
      </thead>
      <tbody valign="top">
      {% for model in form.get_models %}
          <tr>
              <td>
                  <a href="{% url 'file_detail' file_name=model.db_table|slugify %}">
                      {{ model.db_table }}
                  </a>
              </td>
          </tr>
      {% endfor %}
      </tbody>
      </table>

  {% endif %}


  {% if form.documentcloud_id %}
  <h3>Sample</h3>

      <div style="margin-bottom:35px;" id="DV-viewer-{{ form.documentcloud.id }}" class="DV-container"></div>
      <script src="//s3.amazonaws.com/s3.documentcloud.org/viewer/loader.js"></script>
      <script>
        DV.load("//www.documentcloud.org/documents/{{ form.documentcloud.id }}.js", {
        container: "#DV-viewer-{{ form.documentcloud.id }}",
        width: 680,
        height: 850,
        sidebar: false,
        zoom: 550
        });
      </script>
        <noscript>
        <a href={{ form.documentcloud.pdf_url }}>{{ form.documentcloud.title }} (PDF)</a>
        <br />
        <a href={{ form.documentcloud.text_url }}>{{ form.documentcloud.title }} (Text)</a>
      </noscript>

  {% endif %}

{% endblock %}
