{% load staticfiles %}

<header class="container">
  <div class="row">
      <ul class="nav nav-pills red-border col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <li>
            <a class="logo" href="http://www.californiacivicdata.org/"><img height='38px' src="{% static "calaccess_website/images/bear-no-red-line.png" %}" alt=""></a>
        </li>
        <li><a href="{% url 'version_index' %}"><i class="fa fa-database"></i> CAL-ACCESS</a></li>
        <li><a href="http://www.californiacivicdata.org/archive/"><i class="fa fa-pencil"></i> Posts</a></li>
        <li><a href="http://www.californiacivicdata.org/about/"><i class="fa fa-info-circle"></i> About</a></li>
      </ul>
  </div>
</header>

<script type="text/javascript">
    var url = window.location;
    // Will only work if string in href matches with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    // Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
        return this.href == url;
    }).parent().addClass('active');
</script>
