{% load staticfiles %}
<header>
  <nav class="container">
    <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-pills">
        <li style="margin-left:0;">
            <a class="logo" href="http://www.californiacivicdata.org/">
                <img
                    src="{% static "calaccess_website/images/brown-geobear.svg" %}"
                    alt="California Civic Data Coalition logo"
                    title="Home"
                >
            </a>
        </li>
        <li id="home"><a href="{% url 'home' %}">HOME</a></li>
        <li id="data"><a href="{% url 'version_latest' %}">DATA</a></li>
        <li><a href="http://www.californiacivicdata.org/archive/">BLOG</a></li>
        <li><a href="http://www.californiacivicdata.org/about/">ABOUT</a></li>
      </ul>
    </div>
    </div>
  </nav>
</header>

<script type="text/javascript">
  var url = window.location;
  if (url.pathname == '/') {
    $('#home').addClass('active');
  } else {
    $('#data').addClass('active');
  }
</script>
