{% extends 'calaccess_website/base.html' %}
{% load calaccess_website_tags %}

{% block breadcrumbs-container %}{% endblock %}

{% block content %}
<div class="home">
    <br />
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>{{ CALACCESS_WEBSITE_TITLE }}</h1>
            <p class="lead">{{ CALACCESS_WEBSITE_DESCRIPTION }}</p>
            <a href="{% url 'version_latest' %}" class="btn btn-calaccess btn-lg">Get the latest data</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a ">
            <div class="home-card">
                <div class="card-container">
                    <p><i class="fa fa-database" aria-hidden="true"></i></p>
                    <p>Download the latest data processed from our servers and ready for analysis.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'file_list' %}">
            <div class="home-card">
                <div class="card-container">
                    <p><i class="fa fa-archive" aria-hidden="true"></i></p>
                    <p>Look at historical snapshots of CAL-ACCESS and browse individual tables.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="{% url 'file_list' %}">
            <div class="home-card">
                <div class="card-container">
                    <p><i class="fa fa-files-o" aria-hidden="true"></i></p>
                    <p>Explore our extensive documentation of CAL-ACCESS tables and forms.</p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://github.com/california-civic-data-coalition/">
            <div class="home-card">
                <div class="card-container">
                    <p><i class="fa fa-code" aria-hidden="true"></i></p>
                    <p>All our code is open source. Take a look and learn how you can contribute.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <section>
            <h2>Who are we?</h2>
            <p>
                 The California Civic Data Coalition is an open-source team of journalists and computer programmers from news organizations across America.
                 <a href="http://www.californiacivicdata.org/about/">Read more &raquo;</a></p>
        </section>
        <hr>
        <section>
            <h2>What do we do?</h2>
            <p>
                 We create software that makes California's public data easier to analyze.
                 Our current focus is CAL-ACCESS, the database tracking money in state politics.
                 <a href="{% url 'version_latest' %}">Download the data &raquo;</a>
            </p>
        </section>
        <hr>
        <section>
            <h2>How can I get involved out?</h2>
            <p>
                Our work is the product of hundreds of contributions from developers and journalists at dozens of different news organizations.
                We want you to be the next on board.
            </p>
            <p>
                Fork our code on <a href="https://github.com/california-civic-data-coalition">GitHub</a>, 
                reach out by <a href="mailto:californiacivicdata@gmail.com">e-mail</a> or 
                chime in on <a href="https://newsnerdery.slack.com/messages/california-civic-data/">Slack</a>.
            </p>
        </section>
        <hr>
        <section>
            <h2>Sponsors</h2>
        </section>
        </div>
    </div>
</div>
{% endblock %}
