{% extends 'calaccess_website/base.html' %}
{% load calaccess_website_tags %}

{% block breadcrumbs-container %}{% endblock %}

{% block content %}
<br />

<div class="jumbotron">
    <h1>The CAL-ACCESS archive</h1>
    <p>Welcome to the open-source archive of campaign finance and lobbying disclosure data from the California Secretary of State’s CAL-ACCESS database.</p>
    <p><a class="btn btn-calaccess-red btn-lg" href="{% url 'version_latest_redirect' %}" role="button"><i class="fa fa-newspaper-o"></i> Get the latest data</a></p>
</div>

<div class="home-col col-md-4">
    <h3><i class="fa fa-newspaper-o"></i> &nbsp; Latest versions</h3>

    <table class="table table-striped">
        <tbody>
            {% for obj in latest|slice:":5" %}
            <tr>
                <td>
                    <a href="{% url 'version_detail' year=obj.release_datetime.year month=obj.release_datetime.month release_epochtime=obj.release_datetime|date:'U' %}">
                        {{ obj.release_datetime|date:"l, N j, Y" }}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td class="right" colspan=3>
                    <a style="font-size: 16px;" href="{% url 'version_archive_index' %}">Full archive &raquo;</a>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="home-col col-md-4">
    <h3><i class="fa fa-info-circle"></i> &nbsp; About</h3>
    <p>
        This site is maintained by the California Civic Data Coalition, an open-source team of journalists and computer programmers from news organizations across America.
        <a href="http://www.californiacivicdata.org/about/">Learn more &raquo;</a>
    </p>
</div>

<div class="home-col col-md-4">
    <h3><i class="fa fa-exclamation-triangle"></i> &nbsp; Coming next</h3>
    <p>
        We're working on “processed data” downloads that will refine the CAL-ACCESS data and format it in simpler models that are easier to analyze.
    </p>
</div>
{% endblock %}
