{% extends 'calaccess_website/base.html' %}
{% load calaccess_website_tags static greeking_tags %}

{% block breadcrumbs-container %}{% endblock %}

{% block container %}

<section class="hero">
  <div class="container">
      <div class=" row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>Download California campaign finance data with ease</h1>
            <p class="lead">
                An open-source archive serving up daily downloads from
                CAL-ACCESS, California's database tracking money in state politics. <a href="">Learn more &raquo;</a>
            </p>
            <a href="{% url 'version_latest' %}"><button class="btn btn-lg btn-calaccess">Download latest data</button></a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <img src="/static/calaccess_website/images/brown-geobear.svg">
        </div>
      </div>
  </div>
</section>

<article class="home homepage">
<div class="container">
    <section class="row boxes">
        <div class="col-md-10 col-md-offset-1 md-center">
            <div class="row">
                <section class="col-sm-4">
                    <a class="home-card-link" href="{% url 'version_latest' %}">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Downloads</h2>
                                <i class="fa fa-database" aria-hidden="true"></i>
                                <p>
                                    Grab the latest data and get your analysis started.
                                </p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="col-sm-4">
                    <a href="{% url 'docs_index' %}">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Documentation</h2>
                                <i class="fa fa-files-o" aria-hidden="true"></i>
                                <p>Learn how to work with data from CAL-ACCESS.</p>
                            </div>
                        </div>
                    </a>
                </section>
                <section class="col-sm-4">
                    <a href="https://github.com/california-civic-data-coalition/">
                        <div class="home-card">
                            <div class="card-container">
                                <h2>Code</h2>
                                <i class="fa fa-code" aria-hidden="true"></i>
                                <p>Improve our open source on GitHub.</p>
                            </div>
                        </div>
                    </a>
                </section>
            </div>
        </div>
    </section>

    <section class="row questions">
        <div class="col-md-6 col-md-offset-3 xs-left md-center">
            <section class="row question who-are-we">
                <div class="col-md-12">
                    <h2>Who are we?</h2>
                    <p>
                         The California Civic Data Coalition is an open-source team of journalists and computer programmers from news organizations across America.
                         <a href="http://www.californiacivicdata.org/about/">Read more &raquo;</a>
                    </p>
                </div>
            </section>
            <section class="row question what-do-we-do">
                <div class="col-md-12">
                    <h2>What do we do?</h2>
                    <p>
                         We create software that makes California's public data easier to analyze.
                         Our current focus is CAL-ACCESS, the database tracking money in state politics.
                         <a href="{% url 'version_latest' %}">Download and get started &raquo;</a>
                    </p>
                </div>
            </section>
            <section class="row question how-can-you-get-involved">
                <div class="col-md-12">
                    <h2>How can you get involved?</h2>
                    <p>
                        Hundreds of journalists at dozens of news outlets have joined our effort.
                        We want you to be next. Fork us on <a href="https://github.com/california-civic-data-coalition">GitHub</a>,
                        send an <a href="mailto:californiacivicdata@gmail.com">e-mail</a> or
                        join our <a href="https://newsnerdery.slack.com/messages/california-civic-data/">Slack</a>.
                    </p>
                </div>
            </section>
        </div>

        <section class="col-md-12 xs-left md-center question no-border sponsors">
            <div class="funders row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Who are our sponsors?</h2>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="http://www.knightfoundation.org/">
                                <img src="{% static 'calaccess_website/images/knight-logo-3000px-black.jpg' %}">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="http://www.ire.org/">
                                <img src="{% static 'calaccess_website/images/ire.png' %}">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <a href="https://opennews.org/">
                                <img src="{% static 'calaccess_website/images/opennews.png' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="leaders row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <a href="http://www.latimes.com/">
                                <img src="{% static 'calaccess_website/images/latimes.png' %}">
                            </a>
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <a href="http://cjlab.stanford.edu/">
                                <img src="{% static 'calaccess_website/images/stanford.png' %}">
                            </a>
                        </div>
                        <div class="clearfix visible-xs-block"></div>
                        <div class="col-sm-4 col-xs-6">
                            <a href="https://www.revealnews.org/">
                                <img src="{% static 'calaccess_website/images/reveal.jpg' %}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
</article>
{% endblock %}
