    <meta property="og:site_name" content="www.calaccess.californiacivicdata.org"/>
    <meta property="og:title" content="The CAL-ACCESS Archive"/>
    <meta property="og:image" content="http://www.californiacivicdata.org/img/logo.png"/>
    <meta property="og:description" content="The open-source archive of campaign finance and lobbying disclosure data from the California Secretary of State’s CAL-ACCESS database"/>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:src" content="http://www.californiacivicdata.org/img/logo.png">
    <meta name="twitter:site" content="@latimes">
    <meta name="twitter:title" content="The CAL-ACCESS Archive">
    <meta name="twitter:description" content="The open-source archive of campaign finance and lobbying disclosure data from the California Secretary of State’s CAL-ACCESS database"/>