{% extends 'calaccess_website/base.html' %}

{% load humanize calaccess_website_tags %}

{% block content %}
  <h2>{{ object.db_table }}</h2>

  <p>{{ object.doc.strip|safe }}</p>

  {% if version_list %}
  <table class="table table-striped">
  <thead>
      <tr>
          <th>Version</th>
          <th class="right">Records</th>
          <th class="right">Raw TSV</th>
          <th class="right">Clean CSV</th>
          <th class="right">Errors</th>
      </tr>
  </thead>
  <tbody>
  {% for file in version_list %}
      <tr>
          <td><a href="{% url 'version_detail' pk=file.version.pk %}">{{ file.version.release_datetime|date:"Y-m-d" }}</a></td>
          <td class="right">{{ file.clean_records_count|intcomma }}</td>
          <td class="right">{% if file.download_file_archive %}<a href="{% archive_url file.download_file_archive.name %}">.TSV</a>{% endif %}</td>
          <td class="right">{% if file.clean_file_archive %}<a href="{% archive_url file.clean_file_archive.name %}">.CSV</a>{% endif %}</td>
          <td class="right">{% if file.error_log_archive %}<a href="{% archive_url file.error_log_archive.name %}">{{ file.error_count|intcomma }}</a>{% else %}No errors{% endif %}</td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
  {% else %}
      <p>No files.</p>
  {% endif %}
{% endblock %}
