{% extends 'calaccess_website/version_detail.html' %}
{% load calaccess_website_tags %}

{% block title %}Downloads - {{ object.release_datetime|date:"N j, Y" }} - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
{{ block.super }}
<li>{{ object.release_datetime|date:"N j, Y" }}, {{ object.release_datetime|date:"P" }}</li>
{% endblock %}

{% block top %}
    <h1 class="h2">Archived download</h1>
    <p>
        The {{ object.release_datetime|date:"l, N j, Y" }} release
        of CAL-ACCESS database, the government database
        that tracks campaign finance and lobbying activity in California politics. 
        
        It was published by state officials
        at {{ object.release_datetime|date:"P" }}
        <a href="{% url 'version_latest' %}">Latest release &raquo;</a>&nbsp;
        <a href="{% url 'version_archive_index' %}">Other past releases &raquo;</a>
    </p>
{% endblock %}
