<h2>CAL-ACCESS Releases</h2>

<ul>
{% for version in latest %}
    <li>{{ version.release_datetime|date:"l, N d, Y, (P)" }}
        <ul>
            <li><a href="https://s3-us-west-2.amazonaws.com/django-calaccess/{{ version.zip_file_archive.name }}">zip file</a></li>
            <li><a href="versions/{{ version.release_datetime|date:"o-n-d" }}">details</a></li>
        </ul>   
    </li>
{% endfor %}
</ul>

{% for year in date_list %}
<h4>Browse archive</h4>
<ul>
    <li>
        <a href="{% url 'version_year_archive' year=year.year %}">
            {{ year.year }}
        </a>
    </li>
</ul>
{% endfor %}
