{% extends 'calaccess_website/base.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ object.release_datetime|date:"l, N j, Y (P)" }} - Versions - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
  <li><a href="{% url 'version_archive_index' %}">Versions</a></li>
  <li class="active">{{ object.release_datetime|date:"l N y, Y (P)" }}</li>
{% endblock %}

{% block content %}
  <h2>Release: {{ object.release_datetime|date:"l, N j, Y (P)" }}</h2>
  <h4><a href="{% archive_url object.zip_file_archive.name %}">original zip file</a> ({{ object.pretty_size }})</h4>
  {% if object.files.all %}
  <div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="basic">
    {% regroup files|dictsort:"klass_group" by klass_group as model_groups %}
    {% for group in model_groups %}
      <h3>{{ group.grouper|capfirst }}</h3>
      <table class="table table-striped">
      <thead>
          <tr>
              <th>File name</th>
              <th class="right"> CSV</th>
              <th class="right" width="14%">Information</th>
          </tr>
      </thead>
      <tbody>
      {% for file in group.list %}
          <tr>
              <td>{{ file.file_name }}</td>
              <td class="right">{% if file.clean_file_archive %}{{ file.pretty_clean_file_size }} &middot; <a href="{% archive_url file.clean_file_archive %}"><i class="fa fa-download"></i></a>{% else %} -- {% endif %}</td>
              <td class="right"><a href="{% url 'file_detail' file.file_name|slugify %}"><i class="fa fa-info-circle"></i></a></td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
    {% endfor %}
    </div>
    <div role="tabpanel" class="tab-pane" id="details">
    {% regroup files|dictsort:"klass_group" by klass_group as model_groups %}
    {% for group in model_groups %}
      <h3>{{ group.grouper|capfirst }}</h3>
      <table class="table table-striped">
      <thead>
          <tr>
              <th>File name</th>
              <th class="right" width="22%">Raw TSV</th>
              <th class="right" width="22%">Clean CSV</th>
              <th class="right" width="8%">Errors</th>
              <th class="right" width="12%">Information</th>
          </tr>
      </thead>
      <tbody>
      {% for file in group.list %}
          <tr>
              <td>{{ file.file_name }}</td>
              <td class="right">{{ file.download_records_count|intcomma }} records &middot; {{ file.pretty_download_file_size }} &middot; {% if file.download_file_archive %}<a href="{% archive_url file.download_file_archive %}"><i class="fa fa-download"></i></a>{% endif %}</td>
              <td class="right">{{ file.clean_records_count|intcomma }} records &middot; {% if file.clean_file_archive %}{{ file.pretty_clean_file_size }} &middot; <a href="{% archive_url file.clean_file_archive %}"><i class="fa fa-download"></i></a>{% else %} -- {% endif %}</td>
              <td class="right">{% if file.error_log_archive %}{{ file.error_count|intcomma }} &middot; <a href="{% archive_url file.error_log_archive %}"><i class="fa fa-download"></i></a>{% else%} -- {% endif %}</td>
              <td class="right"><a href="{% url 'file_detail' file.file_name|slugify %}"><i style="font-size: 16px;" class="fa fa-info-circle"></i></a></td>
          </tr>
      {% endfor %}
      </tbody>
      </table>
    {% endfor %}
    </div>
  </div>
  {% else %}
        <p>No files.</p>
  {% endif %}
</div>
{% endblock %}
