{% extends 'calaccess_website/version_detail.html' %}
{% load humanize calaccess_website_tags staticfiles %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}
{% block description %}{{ description }}{% endblock %}

{% block og-title %}{{ title }} - {{ block.super }}{% endblock %}
{% block og-description %}{{ description }}{% endblock %}
{% block twitter-title %}{{ title }} - Documentation - {{ block.super }}{% endblock %}
{% block twitter-description %}{{ description }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Latest</li>
{% endblock %}

{% block top %}
    <h1>{{ title }}</h1>
    <p>
        Download our most recent release, processed {{ object.release_datetime|date:"l, N j, Y" }} at {{ object.release_datetime|date:"P" }}
    </p>
{% endblock %}

{% block content %}
<div class="downloads">
    {% include 'calaccess_website/downloads_basic_section.html' %}
    {% include 'calaccess_website/downloads_advanced_section.html' %}
    <hr>
    {% include 'calaccess_website/downloads_raw_files_section.html' %}
    {% include 'calaccess_website/downloads_errata_section.html' %}
</div>
{% endblock %}
