{% extends 'calaccess_website/base.html' %}
{% load calaccess_website_tags %}

{% block title %}{{ month|date:"F Y" }} - Versions - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
  <li><a href="{% url 'version_archive_index' %}">Versions</a></li>
  <li><a href="{% url 'version_archive_year' month.year %}">{{ month.year }}</a></li>
  <li class="active">{{ month|date:"N" }}</li>
{% endblock %}


{% block content %}
  <h1>Versions from {{ month|date:"F Y" }}</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
  <tr>
      <td>
          <a href="{% url 'version_detail' year=obj.release_datetime.year month=obj.release_datetime.month release_epochtime=obj.release_datetime|date:'U' %}">
              {{ obj.release_datetime|date:"l, N j" }}
          </a>
      </td>
  </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
