{% extends 'calaccess_website/base_with_top.html' %}
{% load calaccess_website_tags humanize %}

{% block title %}Versions - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
{{ block.super }}
<li>Downloads</li>
{% endblock %}

{% block top %}
    <h2>Downloads</h2>
    <p>
        The last {{ latest|length|apnumber }} release{{ latest|length|pluralize }} of CAL-ACCESS,
        the government database that tracks campaign finance and lobbying activity in California politics.
    </p>
{% endblock %}

{% block content %}
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th class="right">Size</th>
        </tr>
    </thead>
    <tbody>
    {% for obj in latest %}
    <tr>
        <td>
            <a href="{% url 'version_detail' year=obj.release_datetime.year month=obj.release_datetime|date:'m' day=obj.release_datetime|date:'d' time=obj.release_datetime|date:'His' %}">
                {{ obj.release_datetime|date:"l, N j, Y" }}
            </a>
        </td>
        <td class="right">
            {{ obj.pretty_clean_size }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan=2>
            Browse all by year: {% for date in date_list %}<a href="{% url 'version_archive_year' date.year %}">{{ date.year }}</a>{% if not forloop.last %},{% endif %}{% endfor %}
        </td>
    </tfoot>
</table>
{% endblock %}
