{% extends 'calaccess_website/base.html' %}
{% load humanize calaccess_website_tags %}

{% block title %}{{ object.release_datetime|date:"l, N j, Y (P)" }} - Versions - {{ block.super }}{% endblock%}

{% block container %}
<div class="row bg-red">
  <div class="container">
    <div class="col-md-9">
      <h2>Version archive</h2>
      <p>Explanation about the version archive goes here.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Release: {{ object.release_datetime|date:"l, N j, Y (P)" }}</h3>
      <p>
      <a href="{% archive_url object.zip_file_archive.name is_latest=is_latest %}" class="btn btn-calaccess">Download</a>
      &nbsp; <span>{{ object.pretty_size }} zip archive</span>
      </p>
      <p>Or use <code>wget</code> or <code>curl</code> to download this snapshot directly.</p>
      <kbd>$ curl {% archive_url object.zip_file_archive.name is_latest=is_latest %}</kbd>
    </div>
  </div>

  <br>
  {% if object.files.all %}

  {% for file in file_list %}

  <div class="row file-card">
    <div class="row">
      <div class="col-md-6">
        <h4><a href="{% url 'file_detail' file.file_name|slugify %}">{{ file.file_name }}</a></h4>
      </div>
      <div style="text-align: right;" class="col-md-6">
        <p><mark>{{ file.model.klass_group|upper }}</mark></p>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <p>{{ file.model.doc.strip|safe }}</p>
      </div>
      <div style="text-align: right;" class="col-md-4 col-md-offset-2">
        {% if file.clean_file_archive %}
        <span class="stats">
          <h4>Records</h4>
          <p>{{ file.clean_records_count|intcomma }}</p>
        </span>
        <span class="stats">
          <h4>Filesize</h4>
          <p> {{ file.pretty_clean_file_size }}</p>
        </span>
        <span class="stats">
          <h4>Errors</h4>
          <p>{{ file.error_count|intcomma }} </p>
        </span>
        <span>
          <a href="{% archive_url file.clean_file_archive.name %}" class="btn btn-calaccess btn-download">Download</a>
        </span>
         {% else %} {% endif %}
      </div>
    </div>
  </div>

  {% endfor %}

{% else %}
      <p>No files.</p>
{% endif %}
</div>
</div> <!-- container -->
{% endblock %}
