{% extends 'calaccess_website/version_detail.html' %}
{% load calaccess_website_tags %}

{% block title %}Latest download - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
{{ block.super }}
<li>Latest</li>
{% endblock %}

{% block top %}
    <h1 class="h2">Latest download</h1>
    <p>
        The most recent release of CAL-ACCESS, the government database
        that tracks campaign finance and lobbying activity in California politics. 
        
        It was published by state officials on {{ object.release_datetime|date:"l, N j, Y" }} at
        {{ object.release_datetime|date:"P" }}
        <a href="{% url 'version_archive_index' %}">Past releases &raquo;</a>
    </p>
{% endblock %}
