{% extends 'calaccess_website/base_with_top.html' %}
{% load calaccess_website_tags %}

{% block title %}{{ year.year }} - Versions - {{ block.super }}{% endblock%}

{% block breadcrumbs %}
  <li><a href="{% url 'version_archive_index' %}">Versions</a></li>
  <li>{{ year.year }}</li>
{% endblock %}

{% block top %}
    <h2>Archived data from {{ year|date:"Y" }}</h2>
    <p><a href="{% url 'version_latest' %}">Go to the latest data</a>.</p>
{% endblock %}

{% block content %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Month</th>
    </tr>
  </thead>
  <tbody>
  {% for date in date_list %}
      <tr>
          <td>
              <a href="{% url 'version_archive_month' year=date.year month=date|date:'m' %}">
                  {{ date|date:"F" }}
              </a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}
