body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}
header, footer {
    padding: 5px 0 0 0 !important;
}
h1 {
  font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  font-weight: 600;
}
p {
    font-size: 20px;
    color: #454545;
}
a, a.btn-default{
    color: #ba0a35;
}
a:hover{
    color: #d87d85;
}
b, strong {
    font-weight: 600;
}
kbd {
    padding: 10px;
    border-radius: 0;
}
code {
    color: #000;
    background: none;
}
sup {
    font-size: default;
    top: -.2em;
}
section.chapter {
    margin-bottom: 50px;
}
.bg-red {
    background-color: #ba0a35;
    color:  #fdfdfd;
    padding: 15px 0;
}
.bg-red h1,
.bg-red h2 {
    margin-top: 5px;
}
.bg-red p {
    color:  #fdfdfd;
    font-weight: 300;
}
.bg-red b {
    font-weight: 600;
}
.bg-red a {
    color:  #fdfdfd;
    font-weight: 400;
}
.red-border {
    border-bottom: solid 7px #ba0a35;
}
.download-link {
    width: 100%;
}
.input-monospace {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: black;
    color: white;
}
.filesize {
    font-size: 16px;
}

/* Buttons */
.btn-lg {
    font-size: 20px !important;
}
.btn-sm {
    font-size: 16px !important;
    padding: 3px 10px;
}
.btn-calaccess,
.btn-calaccess:focus {
    color: #ba0a35;
    border: 1px solid #ba0a35;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
    outline: 0;
}
.btn-calaccess:hover,
.btn-calaccess.active {
    background-color: #ba0a35;
    color: #fdfdfd;
}
.btn-calaccess:hover i {
    color: #ba0a35;
}

.btn-inactive {
    color: grey;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 0;
    font-size: 18px;
    cursor: not-allowed;
}
.btn-inactive:hover {
    color: grey;
    background-color: #fff;
}

/* Breadcrumbs */
.breadcrumb {
    padding: 0;
    margin: 10px auto 10px auto;
    border-radius: 0;
    list-style: none;
    background: none;
    color: #fff;
}

.breadcrumb>li>a {
    padding: 2px 4px;
}
.breadcrumb>li>a:hover {
    text-decoration: underline;
}
.breadcrumb>li+li:before {
    content: "\203A";
    margin-left: -4px;
}

.align-right {
    float: right;
    text-align: right;
}

/* Navbar */
header {
    /*box-shadow: 0 1px 15px #696969;*/
    border-bottom: 2px solid #eee;
    position: relative;
    z-index: 2;
}
header .nav-pills>li.active>a,
header .nav-pills>li.active>a:hover,
header .nav-pills>li.active>a:focus {
    border-bottom: 3px solid #ba0a35;
    background-color: #fff;
    color: #ba0a35;
    font-weight: 600;
}
header .nav>li {
    width: 80px;
    text-align: center;
    margin: 1px 15px 12px 2px;
}
header .nav>li>a {
    position: relative;
    display: block;
    border-radius:0px;
    color:#000;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
    transition: all 0.15s ease-in-out;
}
header .nav>li>a:hover,
header .nav>li>a:focus {
    border-bottom: 3px solid #ba0a35;
    background-color:#fff;
}
header .nav .logo {
    display:inline;
    padding-top:0;
    border-bottom: none !important;
}
header .nav .logo img {
    width: 65px;
}
header .nav .logo:hover, header .nav .logo:active, header .nav .logo:focus {
    background:#fff;
    border-bottom: none;
}
header .nav .logo img {
    margin-top: 5px;
}
header .navbar-default .navbar-nav>li>a {
    color: #ba0a35;
}

/* Affix nav */
.nav-stacked {
    padding: 20px 0;
}
.nav-stacked li a {
    color: #000;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid transparent;
    padding: 10px 10px 5px 5px;
}
.nav-stacked li:hover a {
    background: none;
    border-bottom: 1px solid #ba0a35;
}

.nav-stacked li.active a {
    font-weight: 600;
    border-bottom: 1px solid #ba0a35;
}
.affix-bottom {
    position: relative;
}
.affix {
    top: 0;
}
#affix-nav {
    width: 140px;
}

/* Pagination */
.pagination>li>a, .pagination>li>span {
    color: #ba0a35;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color:#d87d85;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba0a35;
    border-color: #ba0a35;
}

/* Tables */
table {
    font-size: 16px;
}
th, td {
  padding: 2px;
}
th {
    background-color: #fefefe;
}
th[data-sort="int"]:hover, th[data-sort="currency"]:hover, th[data-sort="date"]:hover, th[data-sort="string"]:hover {
    cursor: pointer;
}
td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}
.table>tbody>tr>td {
    border-top: none;
}

.break {
    word-wrap: break-word;
}
.nobreak {
    white-space: nowrap;
}

/* Homepage */
.home h1 {
    font-size: 45px;
    font-weight: 600;
}
.home h2 {
    font-weight: 600;
    margin-top: 0;
}
.md-center {
    text-align: center;
}

.hero {
  min-height: 525px;
  background-image: url('//calaccess.californiacivicdata.org/static/calaccess_website/images/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 100%;
}
.hero .row {
    margin-top: 40px;
}
.hero img {
    padding-top: 15px;
}

.home div.headline h1 {
    text-transform: uppercase;
}
.home div.headline img {
    height: 450px;
}

.home section.boxes {
    margin: 30px 0 0 0;
}
.home .home-card {
    height: 245px;
    padding: 20px;
    margin: 0 auto;
    color: #ba0a35;
}
.home .boxes a:hover {
    text-decoration: none !important;
}
.home .boxes a:hover .home-card {
    background-color: #ba0a35;
    color: white;
}
.home .boxes a:hover .home-card p {
    color: white;
}
.home .home-card h2 {
    margin-bottom: 20px;
    font-size: 26px;
}
.home .home-card i {
    font-size: 70px;
    margin-bottom: 20px;
}
.home .home-card p {
    color: #ba0a35;
    margin-top: 0;
}

.home section.questions {
    margin: 0;
}
.home .question {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EEEEEE;
}
.no-border {
    border: none !important;
}
.home section.sponsors {
    margin-top: 0px;
}
.home section.sponsors .funders img {
    width: 90%;
    padding: 0 5%;
    margin: 20px 0;
}
.home section.sponsors .leaders img {
    width: 85%;
    padding: 0 12.5%;
    margin: 20px 0;
}

/* Version detail */
.filters {
    margin-bottom: 30px;
}
.filters input {
    display: inline-block;
    border: 1px solid #ba0a35;
    background-color: transparent;
    border-radius: 0;
    font-size: 18px;
    padding: 6px 12px;
    margin-bottom: 0;
    line-height: 1.42857143;
    height: 39px;
}
.filters .dropdown {
    display: inline-block;
}
.filters .btn {
    width: 160px;
    display: inline-block;
}
.filters .dropdown-menu {
    cursor: pointer;
    font-size: 16px;
    border-radius: 0;
}
.filters li>a:hover {
    background: #ba0a35;
    color: #fdfdfd;
}
ul.list {
    list-style-type:none;
    margin: 0;
    padding: 0
}
ul.list li {
    margin: 0;
    padding: 0;
}
.file-card {
    border: 1px solid #a6a6a6;
    padding: 10px;
    margin: 10px auto 20px auto;
}
.file-card hr {
    margin: 5px 0;
}
.file-card h4 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
}
.file-card .lbl-group {
    margin-top: 5px;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.right-desktop {
    text-align: right;
}

/* Stats */
.stats {
    margin-top: 10px;
}
.stats div {
    padding: 0 0 10px 0;
}
.stats section {
    display: inline-block;
    margin-right: 15px;
}
.stats h5, .stats p {
    color: #000;
    font-size: 14px;
    margin: 0;
}

/* File detail */
.list-title {
    font-size: 20px;
    font-weight: 600;
}
.gist .markdown-body {
    font-size: 10px !important;
}
.gist .markdown-body table {
    table-layout: auto;
    white-space: nowrap;
}
.gist .blob-interaction-bar {
    display: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ba0a35;
    color: #fdfdfd;
    margin-top: 20px;
}
footer .row {
    padding: 10px;
}
footer .icon {
    padding-top: 30px;
    padding-bottom: 20px;
}
footer img {
    width: 130px;
}
footer h3 {
    font-weight: 600;
    text-align: left;
}
footer ul {
    text-align: left;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
}
footer ul > li {
    margin: 10px auto;
}
footer a,
footer a:hover {
    color: #fdfdfd;
}
footer p {
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 200;
}
footer p a {
    font-weight: 600;
}
footer .easteregg a {
    font-weight: 200;
}

/* DocumentCloud embeds */
.DV-container {
    margin-bottom:35px;
}

.announcement {
    position: relative;
    border: 1px solid #ba0a35;
    border-bottom: 3px solid #ba0a35;
    padding: 0 20px 10px 20px;
    margin-top: 10px;
    color: #ba0a35;
}

.announcement > .close {
    margin-top: 10px;
}

@media only screen
and (max-width : 992px) {
    .hero {
        background-color: #f8f8f8;
        background-image: none;
        background-size: initial;
        padding-bottom: 20px;
    }
    .hero h1 {
        margin-top: 10px;
    }
    .hero .row {
        margin-top: 10px;
    }
    .hero img {
        margin: 20px 0 0 0;
    }
    .align-right {
        float: left;
        text-align: left;
    }
    h3 {
        margin-top: 10px;
    }
    .filters {
        margin-top: 10px;
    }
    header .nav>li {
        width: 40px;
    }
    header .nav .logo img {
        width: 45px;
        margin-top: 10px;
    }
    .announcement {
        padding: 0 10px 0 10px;
    }
}

@media only screen
and (max-width : 768px) {
    .xs-left {
        text-align:left;
    }
    .home section.boxes {
        margin: 30px 0 0 0;
    }
    .home .home-card {
        height: auto;
        padding: 20px;
        margin: 20px auto 0 auto;
        color: #ba0a35;
        border: 1px solid #ba0a35;
    }
    .filters input {
        margin-bottom: 10px;
    }
}

@media only screen
and (max-width : 490px) {
    header .nav>li>a {
        padding-bottom: 2px;
    }
    header .nav>li:first-of-type {
        margin-right: 20px;
    }
    section.sponsors .funders img {
        width: 90%;
        padding: 0 10% 0 0;
        margin: 20px 0;
        float: left;
    }
    section.sponsors .leaders img {
        width: 85%;
        padding: 0 15% 0 0;
        margin: 20px 0;
        float: left;
    }
    .home .home-card h2 {
        font-size: 24px;
    }
}
.chapter h2 {
    border-bottom: 1px solid #ba0a35;
    padding-bottom: 5px;
    padding-right: 40px;
    display: inline-block;
    width: auto;
    min-width: 275px;
}
.chapter p {
    margin-top: 10px;
    margin-bottom: 20px;
}
.sub-chapter {
    background-color: rgb(248, 248, 248);
}
.sub-chapter h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ba0a35;
    padding-bottom: 5px;
    padding-right: 40px;
    display: inline-block;
    width: auto;
    min-width: 275px;
}
.unavailable {
    opacity: 0.5;
}
.sub-chapter p {
    text-indent: 20px;
    font-size: 18px;
    margin-bottom: 30px;
}
.definition {
    text-indent: 2px;
    font-size: 18px;
}