body {
    font-family: Source Sans Pro, monospace, sans;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}
header, footer {
    padding: 5px 0 0 0 !important;
}
p {
    font-size: 20px;
    color: #454545;
}
a, a.btn-default{
    color:#ba0a35;
}
a:hover{
    color:#d87d85;
}
kbd {
    padding: 10px;
    border-radius: 0;
}
code {
    color: #000;
    background: none;
}
.bg-red {
    background-color: #ba0a35;
    color:  #fdfdfd;
    padding: 15px;
}
.bg-red h2 {
    margin-top: 5px;
}
.bg-red p {
    color:  #fdfdfd;
    font-weight: 300;
}
.bg-red b {
    font-weight: 600;
}
.bg-red a {
    color:  #fdfdfd;
    font-weight: 400;
}
.red-border {
    border-bottom: solid 7px #ba0a35;
}
.download-link {
    width: 100%;
}
.input-monospace {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: black;
    color: white;
}
.filesize {
    font-size: 16px;
}

/* Buttons */
.btn-lg {
    font-size: 20px !important;
}
.btn-sm {
    font-size: 16px !important;
    padding: 3px 10px;
}
.btn-calaccess,
.btn-calaccess:focus {
    color: #ba0a35;
    background-color: #fff;
    border: 1px solid #ba0a35;
    border-radius: 0;
    font-size: 18px;
}
.btn-calaccess:hover,
.btn-calaccess.active {
    background-color: #ba0a35;
    color: #fdfdfd;
}
.btn-calaccess:hover i {
    color: #ba0a35;
}

.btn-inactive {
    color: grey;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 0;
    font-size: 18px;
    cursor: not-allowed;
}
.btn-inactive:hover {
    color: grey;
    background-color: #fff;
}

/* Breadcrumbs */
.breadcrumb {
    padding: 0;
    margin: 10px auto 20px auto;
    border-radius: 0;
    list-style: none;
    background: none;
    color: #fff;
}

.breadcrumb>li>a {
    padding: 2px 4px;
}
.breadcrumb>li>a:hover {
    text-decoration: underline;
}
.breadcrumb>li+li:before {
    content: "\203A";
    margin-left: -4px;
}

.align-right {
    float: right;
    text-align: right;
}

/* Navbar */
header {
    box-shadow: 0 1px 15px #696969;
    position: relative;
    z-index: 2;
}
header .nav-pills>li.active>a,
header .nav-pills>li.active>a:hover,
header .nav-pills>li.active>a:focus {
    border-bottom: 3px solid #ba0a35;
    background-color: #fff;
    color: #ba0a35;
    font-weight: 600;
}
header .nav>li {
    width: 80px;
    text-align: center;
    margin: 1px 15px 12px 2px;
}
header .nav>li>a {
    position: relative;
    display: block;
    border-radius:0px;
    color:#000;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 6px;
}
header .nav>li>a:hover,
header .nav>li>a:focus {
    border-bottom: 3px solid #ba0a35;
    background-color:#fff;
}
header .nav .logo {
    display:inline;
    padding-top:0;
    border-bottom: none !important;
}
header .nav .logo:hover, header .nav .logo:active, header .nav .logo:focus {
    background:#fff;
    border-bottom: none;
}
header .nav .logo img {
    margin-top: 5px;
}
header .navbar-default .navbar-nav>li>a {
    color: #ba0a35;
}

/* Affix nav */
.nav-stacked {
    padding: 20px 0;
}
.nav-stacked li a {
    color: #000;
    font-weight: 400;
    text-align: left;
    border-bottom: 1px solid #fff;
    padding: 10px 10px 5px 5px;
}
.nav-stacked li:hover a {
    background: none;
    border-bottom: 1px solid #ba0a35;
}

.nav-stacked li.active a {
    font-weight: 600;
    border-bottom: 1px solid #ba0a35;
}
.affix-bottom {
    position: relative;
}

/* Pagination */
.pagination>li>a, .pagination>li>span {
    color: #ba0a35;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color:#d87d85;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba0a35;
    border-color: #ba0a35;
}

/* Tables */
th, td {
  padding: 2px;
}
th {
    background-color: #fefefe;
}
th[data-sort="int"]:hover, th[data-sort="currency"]:hover, th[data-sort="date"]:hover, th[data-sort="string"]:hover {
    cursor: pointer;
}
td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}

.table>tbody>tr>td {
    border-top: none;
}

/* Homepage */
.home h1 {
    font-size: 45px;
    font-weight: 600;
}
.home h2 {
    font-weight: 600;
    margin-top: 0;
}

.md-center {
    text-align: center;
}
.home .home-card {
    height: 300px;
    background-color: #ba0a35;
    padding: 20px;
    margin: 0 auto;
}
.home .card-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.home .home-card i {
    font-size: 70px;
    margin-bottom: 20px;
}
.home .home-card p {
    color: #fdfdfd;
}
.home hgroup[name='headline'] {
    margin: 40px auto;
}
.home section[name='boxes'] {
    margin: 40px 0 20px 0;
}
.home section[name='questions'] {
    margin: 0;
}
.home .question {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EEEEEE;
}
.no-border {
    border: none !important;
}
.home section[name="sponsors"] {
    margin-top: 0px;
}
.home section[name="sponsors"] .funders img {
    width: 90%;
    padding: 0 5%;
    margin: 20px 0;
}
.home section[name="sponsors"] .leaders img {
    width: 85%;
    padding: 0 12.5%;
    margin: 20px 0;
}

/* Version detail */
.filters {
    margin-bottom: 30px;
}
.filters .btn {
    width: 120px;
}
.filters .dropdown-menu {
    cursor: pointer;
    font-size: 16px;
    border-radius: 0;
}
.filters li>a:hover {
    background: #ba0a35;
    color: #fdfdfd;
}
.file-card {
    border: 1px solid #a6a6a6;
    padding: 10px;
    margin: 10px auto 20px auto;
}
.file-card hr {
    margin: 5px 0;
}
.file-card h4 {
    margin-top: 5px;
    margin-bottom: 0;
    font-weight: 600;
}
.file-card .lbl-group {
    margin-top: 5px;
    margin-bottom: 0;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.right-desktop {
    text-align: right;
}

/* Stats */
.stats {
    margin-top: 10px;
}
.stats div {
    padding: 0 0 10px 0;
}
.stats span {
    display: inline-block;
    margin-right: 15px;
}
.stats h4, .stats p {
    color: #000;
    font-size: 14px;
    margin: 0;
}

/* File detail */
.field-title {
    font-size: 20px;
    font-weight: 600;
    margin-right: 10px;
}
.gist .markdown-body {
    font-size: 10px !important;
}
.gist .blob-interaction-bar {
    display: none;
}

/* Footer */
footer {
    text-align: center;
    background-color: #ba0a35;
    color: #fdfdfd;
    margin-top: 20px;
}
footer .row {
    padding: 10px;
}
footer .icon {
    padding-top: 30px;
    padding-bottom: 20px;
}
footer img {
    width: 180px;
}
footer h3 {
    font-weight: 600;
    text-align: left;
}
footer ul {
    text-align: left;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    font-size: 16px;
}
footer ul > li {
    margin: 10px auto;
}
footer a,
footer a:hover {
    color: #fdfdfd;
}
footer p {
    color: #fdfdfd;
    font-size: 14px;
    font-weight: 200;
}
footer p a {
    font-weight: 600;
}
footer .easteregg a {
    font-weight: 200;
}

@media only screen
and (max-width : 992px) {
    .align-right{
        float: left;
        text-align: left;
    }
    section {
        margin: 10px auto;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        margin-top: 10px;
    }
    p {
        font-size: 16px;
    }
    .filters {
        margin-top: 10px;
    }
    header .nav>li {
        width: 40px;
    }
    header .nav .logo img {
        width: 45px;
        margin-top: 10px;
    }
}

@media only screen
and (max-width : 768px) {
    .xs-left {
        text-align:left; 
    }
}
@media only screen
and (max-width : 490px) {
    header .nav>li>a {
        padding-bottom: 2px;
    }
    section[name="sponsors"] .funders img {
        width: 90%;
        padding: 0 10% 0 0;
        margin: 20px 0;
        float: left;
    }
    section[name="sponsors"] .leaders img {
        width: 85%;
        padding: 0 15% 0 0;
        margin: 20px 0;
        float: left;
    }
}
