.container {
  max-width: 900px;
  padding: 0;
}
header, footer {
    padding: 5px 0 0 0 !important;
}
.red-border {
    border-bottom: solid 7px #ba0a35;
}
table {
    font-size: 13px;
}
h1, h2, h3, h4 {
    font-family: Source Sans Pro;
}
p {
    font-size: 17px;
    font-family: Georgia;
    color: #7e7e7e;
}
.bold { font-weight: bold; }
th, td {
  padding: 2px;
}
th {
    background-color: #fefefe;
}
th[data-sort="int"]:hover, th[data-sort="currency"]:hover, th[data-sort="date"]:hover, th[data-sort="string"]:hover {
    cursor: pointer;
}

td.right, th.right {
    text-align:right;
}
td.center, th.center{
    text-align:center;
}
.totals{
    font-size: 18px;
}
.view-more{
    margin-top:-10px;
}
.section-select{
    width:100%;
    z-index: 100;
}
.affix{
    top:0px;
    width:100%;
}
.navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.breadcrumb {
    padding: 10px;
    margin: 10px auto;
    border-radius: 0;
    background-color: #fff;
    list-style: none;
}
.breadcrumb>li>a {
    background-color: #ba0a35;
    color: #fff;
    padding: 2px 4px;
}
.align-right {
    float: right;
    border: solid 0px #ba0a35;
    border-radius: 4px;
    margin-right: -30px;
}
}
.navbar-header{
    margin-left:-25px !important;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 1;
}
.navbar {
    position: relative;
    min-height: 20px;
    margin-bottom:0px;
}
ol {
    line-height:1;
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    color: #ba0a35;
    background-color: #fff;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px 8px 15px;
    border-radius:0px;
    color:#000;
}
.nav .logo {
	display:inline;
	padding-top:0;
}
.nav .logo:hover, .nav .logo:active, .nav .logo:focus {
	background:#fff;
}
.nav>li>a:hover {
    color:#fff;
    background-color:#ba0a35;
}
.btn-default, .btn-default:hover{
    border-color: #ba0a35;
}
.btn-default:hover{
    background-color: #ba0a35;
    color: #ffffff;
}
a, a.btn-default{
    color:#ba0a35;
}
a:hover{
    color:#d87d85;
}
.navbar-default .navbar-nav>li>a {
    color: #ba0a35;
}
.pagination>li>a, .pagination>li>span {
    color: #ba0a35;
}
.pagination>li>a:hover, .pagination>li>span:hover {
    color:#d87d85;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #ba0a35;
    border-color: #ba0a35;
}

/* Graph Styles */
.yeartext, .barContainer, .contrib *, .expend * {
    display: inline-block;
}
.contrib, .expend, .bar {
    height: 2em;
}
.yeargroup {
    height: 5em;
}
.yeartext {
    height: 4.2em;
    font-size: 1.2em;
    padding-right: 10px;
    vertical-align: middle;
}
.contrib span, .expend span {
    vertical-align: bottom;
    height: 2em;
    padding-left: 10px;
}
ul.legend {
    list-style: none;
}
ul.legend li {
    display: inline-block;
    padding: 15px;
}
.legenditem span{
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin-right: 5px;
}
.series1{
    background-color: gray;
}
.series2{
    background-color: lightgray;
}
.graphheader > *{
    display: inline-block;
    margin-right: 20px;
}
.toggle-btn{
    background-color: #ba0a35;
    color: #fff;
    padding: 2px 4px;
}
.True{
  color: #438238;
  font-weight: 500;
}
.False{
  color: #333;
}
.btn-calaccess-red {
  color: #fefdfb;
  background-color: #ba0a35;
  border-radius: 0;
}
.btn-calaccess-red:hover, .btn-calaccess-red:focus {
  color: #ccc8c0;
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0 !important;
  border: 3px solid rgba(186,10,3,1);
  background: none;
}

.jumbotron h1 {
  font-size: 53px;
}
.jumbotron p {
  margin-bottom: 20px;
}

.home-col h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.table-type {
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-tabs > li {
    float: right;
}

.tab-content i {
    font-size: 16px;
}

footer .navbar {
    background-color: #ba0a35;
}
footer .navbar .nav>li>a {
    color: white;
    font-size: 12px;
}
footer .navbar .nav>li>a:hover {
    text-decoration: underline;
}
footer .navbar .nav>li>a:focus {
    background-color: #ba0a35;
}

.home h1 {
    font-size: 50px;
}

.home .row {
    max-width: 900px;
    text-align: center;
}

.home .home-card {
    height: 300px;
    background-color: #ba0a35;
    padding: 20px;
    margin: 0 auto;
    width: 85%;
}
.home .card-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.home .home-card i {
    font-size: 70px;
    margin-bottom: 20px;
}
.home .home-card p {
    color: #fff;
}

.home .row-text {
    max-width: 500px;
    margin: 0 auto;
}

.home .row-text section {
    margin: 60px auto;
}

@media only screen
and (max-width : 992px) {
    .align-right{
        float:left;
        margin-left: -20px;
    }
}
