<h2>CAL-ACCESS Release: {{ version.release_datetime|date:"l, N d, Y, (P)" }}</h2>

<h3><a href="https://s3-us-west-2.amazonaws.com/django-calaccess/{{ version.zip_file_archive.name }}">original zip file</a></h3>

{% if version.files.all %}
    <ul>
    {% for file in version.files.all %}
        <li>{{ file.file_name }}
        {% if file.download_file_archive or file.clean_file_archive %}
            <ul>
            {% if file.download_file_archive %}
                <li><a href="https://s3-us-west-2.amazonaws.com/django-calaccess/{{ file.download_file_archive.name }}">raw .tsv file</a></li>
            {% endif %}
            {% if file.clean_file_archive %}
                <li><a href="https://s3-us-west-2.amazonaws.com/django-calaccess/{{ file.clean_file_archive.name }}">clean .csv file</a></li>
            {% endif %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No files.</p>
{% endif %}