<h2>CAL-ACCESS Releases</h2>

{% if object_list %}
    <ul>
    {% for version in object_list %}
        <li>{{ version.release_datetime|date:"l, N d, Y, (P)" }}
            <ul>
                <li><a href="https://s3-us-west-2.amazonaws.com/django-calaccess/{{ version.zip_file_archive.name }}">zip file</a></li>
                <li><a href="versions/{{ version.release_datetime|date:"o-n-d" }}">details</a></li>
            </ul>   
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No archived data versions.</p>
{% endif %}